.header-section {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1590496794008-383c8070b257?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1991&q=80");
    background-size: cover;
    background-color: rgba(9, 5, 5, 0.2);
    width: 100%;
    padding-bottom: 20px;
   
}

h1,
h3,
h2 {
    color: white;
}

.mess {
    height: 100px;
    width: 305px;
}

.input_text {
    width: 305px;
    
}

.place_h {
    width: 150px;
}

.input {
    padding: 3px;
}

button {
    border-radius: 10px;
    color: white;
    width: 305px;
    padding: 5px;
    background-color: blue;
    font-size: 25px;

}

:hover>button {
    background-color: rgb(204, 63, 63);
}

.nav_heading {
    color: rgb(0, 0, 0);
}

.service-section {
    background-color: darkslateblue;
    color: white;

}



.contaoiner_login {
    width: 60%;
    background-color:rgb(255, 161, 126);
}
