.header-section {
    height: 100vh;
    background-image: url("https://media.istockphoto.com/id/512147716/photo/petrochemical-plant-at-dusk.jpg?s=612x612&w=0&k=20&c=E5-wWET7eGRGIYfC2_aOcLK05Ch_jztlvT2CYGh_JL4=");
    background-size: cover;
    width: 100%;
    padding-bottom: 20px;

}

h1,
h3,
h2 {
    color: white;
}

.mess {
    height: 100px;
    width: 305px;
}

.input_text {
    width: 305px;
}

.place_h {
    width: 150px;
}

.input {
    padding: 3px;
}

button {
    color: white;
    width: 305px;
    padding: 5px;
    background-color: blue;
    font-size: 25px;

}

:hover>button {
    background-color: red;
}

.nav_heading {
    color: black;
}

.service-section {
    background-color: darkslateblue;
    color: white;

}