

.header-section{
    height:96vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1516937941344-00b4e0337589?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size:cover;
}
h1{
color:white;
}
.login_page{
    width: 60%;
    gap:5px;
   
}
.mess{
    height:4rem;
}
